* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #0f0f0f;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
background-color: #1c1c1c;
padding: 30px 40px;   /*30px top, bottom. 40 px sides*/
border-radius: 12px;
box-shadow: 0 0 20px rgba(152, 137, 137, 0.5);
min-width: 350px;
width: 100%;
max-width: 400px;
text-align: center;
}

h1 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 20px;
}
.input-container{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.input-container input{
    flex: 1;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    background-color: #2b2b2b;
    color: #ccc;
}
.input-container input ::placeholder{
    color: #888;
}
button {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    background-color: #7f00ff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #6605c8;
}
#weather-info{
    margin-top: 20px;
    color: #fff;
}
.hidden{
    display: none;
}
#error-message{
    color: #ff5722;
    margin-top: 20px;
}